img {
	max-height: 100px;
}

/*.buttonDiv {

}*/

.gifDiv {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
};

.button-wrapper .btn {
	margin-right: 5px;
}

#buttonSpot {
	display: inline-block;
}

#miniDiv.jumbotron {
	padding-top: 10px;
	padding-bottom: 20px;
}
.top5 { 
	margin-top:5px; 
}
.right5 { 
	margin-right: 5px; 
}